# 1_4_1
Convert the string job_title to uppercase. The variable is set to 'data scientist'.

In [1]:
job_title = 'data scientist'
job_title_upper = job_title.upper()
print(job_title_upper)

DATA SCIENTIST

# 1_4_2
Replace the word 'Analyst' with 'Engineer' in the string job_title. The variable is set to 'Data Analyst'.

In [2]:
job_title = 'Data Analyst'
new_job_title = job_title.replace('Analyst', 'Engineer')
print(new_job_title)

Data Engineer

# 1_4_3
Concatenate the strings seniority_level and job_title with a space in between. The variables are set to 'Senior' and 'Data Analyst' respectively.

In [3]:
seniority_level = 'Senior'
job_title = 'Data Analyst'
full_job_title  = seniority_level + ' ' + job_title
print(full_job_title )

Senior Data Analyst

# 1_4_4
Check the length of a string job_title. The variable is set to 'Data Scientist'.

In [4]:
job_title = 'Data Scientist'
job_title_length = len(job_title)
print(job_title_length)

14

# 1_4_5
Convert the string job_title to lowercase. The variable is set to 'DATA ENGINEER'.

In [5]:
job_title = 'DATA ENGINEER'
job_title_lower =job_title.lower()
print(job_title_lower)

data engineer