# 1_5_1
Concatenate the string 'Job Title: ' with the variable job_title which is set to 'Data Scientist'.

In [1]:
job_title = 'Data Scientist'
result = 'Job Title: ' + job_title
print(result)

Job Title: Data Scientist

# 1_5_2
Format a string to include the variables position and company using f-strings. The variables are set to 'Data Scientist' and 'DataWiz Inc.' respectively. The final string should state: 'Data Scientist at DataWiz'.

In [2]:
position = 'Data Scientist'
company = 'DataWiz Inc.'
result = f'{position} at {company}'
print(result)

Data Scientist at DataWiz Inc.

# 1_5_3
Use the str.format() method to format the string to include the variables role and skill. The variables are set to 'Data Analyst' and 'Python' respectively. The final string should state: 'Role: Data Analyst, Skill: Python'

In [3]:
role = 'Data Analyst'
skill = 'Python'
result = 'Role: {}, Skill: {}'.format(role, skill)
print(result)

Role: Data Analyst, Skill: Python

# 1_5_4
Use %-formatting to format the string to include the variables role and skill. The variables are set to 'Data Engineer' and 'SQL' respectively. The final string should state: 'Role: Data Engineer, Skill: SQL'

In [4]:
role = 'Data Engineer'
skill = 'SQL'
result = 'Role: %s, Skill: %s' % (role, skill)
print(result)

Role: Data Engineer, Skill: SQL