In [1]:
monthly_salary = 8000
annual_salary = monthly_salary * 12
print(annual_salary)

96000

# 1_6_2
Determine if the average salary of a data analyst is greater than that of a data scientist. The variables avg_salary_analyst and avg_salary_scientist are set to 70000 and 85000 respectively.

In [2]:
avg_salary_analyst = 70000
avg_salary_scientist = 85000
is_analyst_salary_higher = avg_salary_analyst > avg_salary_scientist
print(is_analyst_salary_higher)

False

# 1_6_3
Calculate the remainder when the total number of job applications (variable total_applications is set to 123) is divided by the number of job openings (variable job_openings is set to 67).

In [3]:
total_applications = 123
job_openings = 67
remainder = total_applications % job_openings
print(remainder)

56

# 1_6_4
Increment (or increase) the variable job_postings by 5. The variable job_postings is intially set to 20.

In [4]:
job_postings = 20
job_postings += 5
print(job_postings)

25

# 1_6_5
Calculate the average salary from the minimum and maximum salaries. The variables min_salary and max_salary are set to 50000 and 120000 respectively.

In [5]:
min_salary = 50000
max_salary = 120000
average_salary  = (min_salary + max_salary) / 2
print(average_salary )

85000.0