# 1_7_1
Output someone's skill level based on the number of years someone has been using Python. Use the following criteria:

*   Less than 2 years is 'Beginner'
*   2 or more years is 'Intermediate'

Set the variable python_experience to 3 and test this variable in the if statement.

In [1]:
python_experience = 3
if python_experience < 2:
    skill_level = 'Beginner'
else:
    skill_level = 'Intermediate'
print(skill_level)

Intermediate

# 1_7_2
Output someone's skill level based on the number of data science tools they know. Use the following criteria:

*   0-1 tools is 'Beginner'
*   2-4 tools is 'Intermediate'
*   More than 4 tools is 'Advanced'

The variable tools_known is set to 3 to test with the if statement.

In [2]:
tools_known = 3
if tools_known <= 1:
    skill_level = 'Beginner'
elif tools_known <= 4:
    skill_level = 'Intermediate'
else:
    skill_level = 'Advanced'
print(skill_level)

Intermediate

# 1_7_3
Determine the job_title based on years of job experience and years of SQL experience. The variable job_experience is set to 4 and sql_experience is set to 2. Use the following criteria:

Less than 2 years of job experience:
*   0 SQL experience → "Associate Analyst"
*   1+ years of SQL experience → "Junior Analyst"

2 to 5 years of job experience:
*   0 SQL experience → "Associate Analyst"
*   1 year of SQL experience → "Intermediate Analyst"
*   2+ years of SQL experience → "Senior Analyst"

More than 5 years of job experience:
*   0–2 years of SQL experience → "Data Analyst"
*   3+ years of SQL experience → "Lead Analyst"

In [3]:
job_experience = 1
sql_experience = 0

if job_experience < 2:
  if sql_experience == 0:
    job_title= 'Associate Analyst'
  else:
    job_title = 'Junior Analyst'

elif job_experience <=5:
  if sql_experience == 0:
    job_title= 'Associate Analyst'
  elif sql_experience == 1:
    job_title = 'Intermediate Analyst'
  else:
    job_title = 'Senior Analyst'

else:
  if sql_experience <=2:
    job_title = 'Data Analiyst'
  else:
    job_title = 'Lead Analyst'

print(job_title)

Associate Analyst

In [4]:
job_experience = 4
sql_experience = 2

if job_experience < 2:
    if sql_experience == 0:
        job_title = "Associate Analyst"
    else:
        job_title = "Junior Analyst"

elif job_experience > 5:
    if sql_experience >= 3:
        job_title = "Lead Analyst"
    else:
        job_title = "Data Analyst"

else:  # 2 to 5 years of experience
    if sql_experience == 0:
        job_title = "Associate Analyst"
    elif sql_experience == 1:
        job_title = "Intermediate Analyst"
    else:
        job_title = "Senior Analyst"

print(job_title)

Senior Analyst