# 1_9_1
Access the value of the number of job postings for the key 'Data Analyst' from the dictionary job_postings and print it. The dictonary job_postings is set to {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}.

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
print(job_postings['Data Analyst'])

80

# 1_9_2
Add a new job role under the key 'AI Specialist' with a value of 30 postings to the dictionary job_postings and print the updated dictionary. The dictionary job_postings is set to {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}.

In [2]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['AI Specialist'] = 30
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

# 1_9_3
Remove the job role 'Machine Learning Engineer' from the dictionary job_postings and print the updated dictionary. The dictonary job_postings is set to {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}.

In [3]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop('Machine Learning Engineer')
print(job_postings)

{'Data Scientist': 120, 'Data Analyst': 80}

# 1_9_4
Merge two dictionaries job_postings1 and job_postings2 containing job roles and their postings. With job_postings1 set to {'Data Scientist': 120, 'Data Analyst': 80} and job_postings2 to {'Machine Learning Engineer': 50, 'AI Specialist': 30}. Print the merged dictionary.

In [4]:
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
print(job_postings1)

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50, 'AI Specialist': 30}

# 1_9_5
Create a nested dictionary job_details where each key is a job role and the value is another dictionary containing 'postings' and 'average_salary'. The details for each are: 'Data Scientist' has 120 postings and an average salary of 120000; 'Data Analyst' has 80 postings and an average salary of 80000; Machine Learning Engineer has 50 postings and average salary of 110000. Print the nested dictionary.

In [5]:
job_details = {
    'Data Scientist': {'postings': 120, 'avg_salary': 120_000},
    'Data Analyst': {'postings': 80, 'avg_salary': 80_000},
    'Machine Learning Engineer': {'postings': 50, 'avg_salary': 110_000}}

print(job_details)

{'Data Scientist': {'postings': 120, 'avg_salary': 120000}, 'Data Analyst': {'postings': 80, 'avg_salary': 80000}, 'Machine Learning Engineer': {'postings': 50, 'avg_salary': 110000}}