# 1_10_1
Add a new job title 'AI Specialist' to the set of unique job titles and print the updated set. The initial set of unique_job_titles is {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}.

In [1]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.add('AI Specialist')
print(unique_job_titles)

{'Data Scientist', 'Data Analyst', 'AI Specialist', 'Machine Learning Engineer'}

# 1_10_2
Remove the job title 'Data Analyst' from the set of unique job titles and print the updated set. The initial set of unique_job_titles is {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}.

In [2]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
print(unique_job_titles)

{'Data Scientist', 'Machine Learning Engineer'}

# 1_10_3
Create a set of job locations named job_locations from a list of job locations for data science roles and print the set. The list is ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco'].

In [3]:
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
unique_job_locations = set(job_locations)
print(unique_job_locations)

{'San Francisco', 'New York', 'Austin'}

# 1_10_4
Find the union of two sets of job skills and print the result. The first set is {'Python', 'SQL', 'Tableau'} and the second set is {'R', 'SQL', 'Machine Learning'}.

In [4]:
skills_set1 = {'Python', 'SQL', 'Tableau'}
skills_set2 = {'R', 'SQL', 'Machine Learning'}
all_skills = skills_set1.union(skills_set2)
print(all_skills)

{'Tableau', 'R', 'Python', 'Machine Learning', 'SQL'}