# 1_13_1
Print the job titles from the list job_titles using a for loop. The list job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [6]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for title in job_titles:
    print(title)

Data Scientist
Data Analyst
Machine Learning Engineer

# 1_13_2
Calculate the total number of job postings from a list using a while loop. The list of job postings is [5, 10, 15, 20, 25].

In [7]:
job_postings = [5, 10, 15, 20, 25]

total_postings = 0
index = 0
while index < len(job_postings):
    total_postings += job_postings[index]
    index += 1
print(total_postings)

75

# 1_13_3
Print the job titles from the list job_titles along with their index using a for loop and the enumerate() function. The list job_titles is set to ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer'].

In [8]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']

for index, title in enumerate(job_titles):
    print(f'{index}: {title}')

0: Data Scientist
1: Data Analyst
2: Machine Learning Engineer

# 1_13_4
Use a while loop to find the first job title that contains the word 'Engineer'. The list of job titles is ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer'].

In [1]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']

index = 0

while index < len(job_titles):
  if 'Engineer' in job_titles[index]:
    print(job_titles[index])
    break
  index +=1

Machine Learning Engineer

# 1_13_5
You have the following dictionary of positions_skills which is set to {'Data Scientist': ['Python', 'R'], 'Data Analyst': ['SQL', 'Excel'], 'Machine Learning Engineer': ['Python', 'TensorFlow']}. The keys are a data science position, and the values are a list of skills required for the position. Print a message for each individual skill required for these data science positions (e.g., "The role of Data Scientist requires proficiency in Python").

In [10]:
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

for position, skills in positions_skills.items():
    for skill in skills:
        print(f'The role of {position}, requires proficiency in {skill}.')

The role of Data Scientist, requires proficiency in Python.
The role of Data Scientist, requires proficiency in R.
The role of Data Analyst, requires proficiency in SQL.
The role of Data Analyst, requires proficiency in Excel.
The role of Machine Learning Engineer, requires proficiency in Python.
The role of Machine Learning Engineer, requires proficiency in TensorFlow.