
# 1_16_1
Create a function job_title_contains that takes a job title and a keyword as arguments, and returns True if the job title contains the keyword, otherwise returns False.

To confirm the function works, set the job_title to 'Data Scientist' and the keyword to 'Data'.

In [1]:
def job_title_contains(job_title, keyword):
    return keyword in job_title

job_title = 'Data Scientist'
keyword = 'Data'
job_title_contains(job_title, keyword)

True

# 1_16_2
Create a function average_salary that takes a list of salaries and returns the average salary. With the salaries set as [95000, 120000, 105000, 90000, 130000].

In [2]:
def average_salary(salaries):
  return sum(salaries) / len(salaries)

salaries = [95000, 120000, 105000, 90000, 130000]

average_salary(salaries)

108000.0

# 1_16_3
Create a function salary_statistics that takes a list of salaries and returns a dictionary with the minimum, maximum, and average salary. The list of salaries is set to [95000, 120000, 105000, 90000, 130000].

In [ ]:
def salary_statistics(salaries):
  return {
      'min': min(salaries),
      'max': max(salaries),
      'avg': sum(salaries) / len(salaries)
      }

salaries = [95000, 120000, 105000, 90000, 130000]

salary_statistics(salaries)

{'min': 90000, 'max': 130000, 'avg': 108000.0}

# 1_16_4
Create a function job_posting_summary that takes a list of job postings, where each posting is a dictionary with keys 'title', 'location', and 'salary', and returns a summary dictionary with the total number of postings, the average salary, and a list of unique locations. The job_postings is set to [{'title': 'Data Scientist', 'location': 'New York', 'salary': 95000}, {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000}, {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}].

In [ ]:
def job_posting_summary(job_postings):
    total_postings = len(job_postings)
    total_salary = sum(posting['salary'] for posting in job_postings)
    average_salary = total_salary / total_postings
    unique_locations = list(set(posting['location'] for posting in job_postings))
    return {
        'total_postings': total_postings,
        'average_salary': average_salary,
        'unique_locations': unique_locations
    }

job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]
job_posting_summary(job_postings)

{'total_postings': 3,
 'average_salary': 98333.33333333333,
 'unique_locations': ['New York', 'San Francisco']}