# 1_21_1
Create a class named JobPosting with attributes title, company, and location.

Create an instance of an object (called job) of this class with the title 'Data Scientist', company 'Tech Innovations', and location 'New York'.

Print the attributes of the object.

In [ ]:
class JobPosting:
  def __init__(self, title, company, location):
    self.title = title
    self.company = company
    self.location = location

job = JobPosting('Data Scientist', 'Tech Innovations', 'New York')

print(job.title)
print(job.company)
print(job.location)

Data Scientist
Tech Innovations
New York

# 1_21_2
Create a class named JobPosting with a method to_dict that converts the job posting details to a dictionary.

Instantiate an object (called job) of this class with the title 'Data Scientist', company 'Tech Innovations', location 'New York', and salary as 120000.

Convert its details to a dictionary using the to_dict method.

Print the dictionary.

In [ ]:
class JobPosting:
  def __init__(self, title, company, location, salary):
    self.title = title
    self.company = company
    self.location = location
    self.salary = salary

  def to_dict(self):
    return {
        'title': self.title,
        'company': self.company,
        'location': self.location,
        'salary': self.salary
    }


job = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)

print(job.to_dict())

{'title': 'Data Scientist', 'company': 'Tech Innovations', 'location': 'New York', 'salary': 120000}

# 1_21_3
Create a class named JobPosting with a method compare_salary that compares the salary of two job postings and returns the title of the job with the higher salary.

Instantiate two objects called job1 and job2 of this class and compare their salaries using the compare_salary method.

The two objects are defined below in the code needed.

In [ ]:
class JobPosting:
    def __init__(self, title, company, location, salary):
        self.title = title
        self.company = company
        self.location = location
        self.salary = salary

    def compare_salary(self, other_job):
        if self.salary > other_job.salary:
            return self.title
        else:
            return other_job.title

job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Driven Co', 'San Francisco', 100000)

print(job1.compare_salary(job2))

Data Scientist