# 1_22_1
Create a NumPy array representing the number of job applications received each day for a week (7 days). The array should be called applications and contain the following numbers: [10, 15, 7, 20, 25, 30, 5]. Print the array.

In [1]:
import numpy as np

applications_list = [10, 15, 7, 20, 25, 30, 5]
applications = np.array(applications_list)
print(applications)

[10 15  7 20 25 30  5]

# 1_22_2
Create a NumPy array representing the number of job postings for different job titles called postings. The array contains [10, 15, 7, 20, 25, 30, 5]. Use slicing to get the number of postings for the first three job titles.

In [2]:
import numpy as np

postings_list = [10, 15, 7, 20, 25, 30, 5]
postings = np.array(postings_list)
first_three_postings = postings[:3]
print(first_three_postings)

[10 15  7]

# 1_22_3
Create a NumPy array representing the salaries called salaries offered for five different job positions. Calculate the highest and lowest salary using NumPy functions. The array salaries contains [70000, 85000, 60000, 95000, 80000].

In [3]:
import numpy as np

salaries_list = [70000, 85000, 60000, 95000, 80000]
salaries = np.array(salaries_list)
highest_salary = np.max(salaries)
lowest_salary = np.min(salaries)
print(highest_salary, lowest_salary)

95000 60000