# 1_26_1
Calculate the mean of the salary_year_avg column and display the result.

In [1]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

mean_salary = df['salary_year_avg'].mean()
print(mean_salary)

123286.27407182401

# 1_26_2
Calculate the median of the salary_year_avg column and display the result.

In [2]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

median_salary = df['salary_year_avg'].median()
print(median_salary)

115000.0

# 1_26_3
Group the DataFrame by job_title_short and calculate the average salary_hour_avg for each job title. Display the result.

In [3]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

avg_hourly_by_job = df.groupby('job_title_short')['salary_hour_avg'].mean()
avg_hourly_by_job

job_title_short
Business Analyst             42.723415
Cloud Engineer               45.560715
Data Analyst                 38.106918
Data Engineer                57.196998
Data Scientist               49.361403
Machine Learning Engineer    48.477935
Senior Data Analyst          47.661218
Senior Data Engineer         62.848496
Senior Data Scientist        54.105631
Software Engineer            46.452019
Name: salary_hour_avg, dtype: float64

# 1_26_4
Find the job title with the lowest average hourly salary and display the job title and the salary.

In [ ]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

min_hourly_index = df['salary_hour_avg'].idxmin()
min_hourly_job = df.iloc[min_hourly_index][['job_title_short', 'salary_hour_avg']]
min_hourly_job

job_title_short    Data Scientist
salary_hour_avg               8.0
Name: 88185, dtype: object

# 1_26_5
Group the DataFrame by job_country and calculate the total number of job postings for each country. Display the result.

In [6]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

job_count_by_country = df.groupby('job_country').size()
job_count_by_country

job_country
Afghanistan      16
Albania         119
Algeria         111
Angola           11
Argentina      8736
               ...
Venezuela        69
Vietnam        2414
Yemen            10
Zambia          104
Zimbabwe         81
Length: 160, dtype: int64