# 2.2: Set-up

In [2]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

# 2.2.1
Remove rows where the salary_year_avg column has missing values. Display the number of rows before and after removing.

In [3]:
df_cleaned = df.dropna(subset=['salary_year_avg'])

rows_before = len(df)
rows_after = len(df_cleaned)

rows_before, rows_after

(785741, 22003)

# 2.2.2
Remove duplicate rows from the DataFrame based on the job_location column. Display the number of rows before and after removing duplicates.

In [4]:
rows_before = df.shape[0]
df_unique = df.drop_duplicates(subset=['job_location'])
rows_after = df_unique.shape[0]
rows_before, rows_after

(785741, 17218)

# 2.2.3
Fill missing values in the salary_rate column with the string 'Unknown'. Display the first 10 rows of the salary_rate column before and after filling.

In [5]:
salary_rate_before = df['salary_rate'].head(10)
df_filled = df.fillna({'salary_rate': 'Unknown'})
salary_rate_after = df_filled['salary_rate'].head(10)
salary_rate_before, salary_rate_after

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)